* {
    max-width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background-color: rgb(68, 68, 68);
}
.headerflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.navflex {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 5px;
    align-items: center;
}

/* Titres */
h1 {
    font-size: 20px;
    color: white;
}
h2 {
    font-size: 12px;
}
h3 {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.h_over {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.849);
    color: rgb(95, 204, 255);
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 20%;
}

/* Flexbox */
.orientflex {
    display: flex;
    flex-direction: column;
}
.orientflex div, article {
    display: flex;
    background-color: rgb(123, 123, 219);
    padding: 10px;
    align-items: center;
    flex-direction: column;
}
.orientflex div > *, article > * {
    padding: 5px;
}

/* Images */
img {
    border-radius: 3px;
}
section:nth-child(1) img {
    filter: grayscale(100%);
}
.imgfluide {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
.imgflex {
    display: flex;
}

/* Liens */
a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a:active {
  background-color: #ddd;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:active .dropdown-content {
  display: block;
}

/* Formulaire */
form {
    padding: 20px;
}
form li{
    list-style-type: none;
}
input, textarea {
    width: 100%;
    padding: 8px 0px;
    margin: 3px 0;
    border: 1px solid #535353;
    border-radius: 4px;
}
button {
    background-color: #cccccc;
    color: black;
    padding: 8px 8px;
    margin: 8px 0;
    border: 1px solid #535353;
    border-radius: 4px;
}
.flexbutton {
    display: flex;
    justify-content: flex-end;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(97, 97, 97);  
}
footer a {
    color: white;
    padding: 5px;
}

